@model Calvary.ViewModels.ChangePasswordViewModel

<div class="container">
    <div class="row">
        <div class="page-header"><i class="fa fa-key"></i> Ubah Password</div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm", name = "frm" }))
    {
        @Html.ValidationSummary()
        <div class="label label-danger">@ViewBag.Message</div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3">@Html.LabelFor(m => m.OldPassword):</div>
                <div class="col-md-8">@Html.Kendo().TextBoxFor(m => m.OldPassword).HtmlAttributes(new { type = "password" })</div>
            </div>

            <div class="form-group">
                <div class="col-md-3">@Html.LabelFor(m => m.NewPassword):</div>
                <div class="col-md-8">@Html.Kendo().TextBoxFor(m => m.NewPassword).HtmlAttributes(new { type = "password" })</div>
            </div>

            <div class="form-group">
                <div class="col-md-3">@Html.LabelFor(m => m.ConfirmPassword):</div>
                <div class="col-md-8">@Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { type = "password" })</div>
            </div>


            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-8"><button type="submit" id="btnSubmit" name="btnSubmit" class="k-button"><i class="fa fa-check"></i> Submit</button> </div>
            </div>

        </div>
    }
</div>

@section scripts {
    <script>
        var validatorOptions = {
            errorTemplate: CalvaryApp.errorTemplate,
            rules: {
                remote: CalvaryApp.remoteValidationRule,
                confirm: function (input) {
                    if ($(input).attr("id") == "ConfirmPassword") {
                        return $("#NewPassword").val() === $(input).val();
                    }
                    return true;
                }
            },
            messages: {
                remote: CalvaryApp.remoteValidationMessage,
                confirm: "Password baru dan konfirmasi password tidak sama"
            }
        };

        $("#btnSubmit").click(function (e) {
            e.preventDefault();

            var validator = $("#frm").kendoValidator(validatorOptions).data("kendoValidator");
            if (validator.validate()) {
                $("#frm").submit();
            }
        });
    </script>
}