@model Calvary.ViewModels.Master.Ethnic.CreateEditViewModel

<div style="width: 550px;">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addEditForm", name = "addEditForm" }))
    {
        @Html.HiddenFor(m => m.Id)

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3">@Html.LabelFor(m => m.Name): </div>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { style = "width:400px;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">@Html.LabelFor(m => m.KlasisMappingValue): </div>
                <div class="col-md-7">
                    @(Html.Kendo().DropDownListFor(m => m.KlasisMappingValue)
                        .DataSource(ds => ds.Read("GetKlasisEthnic", "Ethnic", new { area = "Master" }))
                        .HtmlAttributes(new { style = "width:350px;" })
                        .OptionLabel("Pilih Etnis di Klasis"))                    
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <button type="submit" id="btnSave" name="btnSave" class="k-button">Simpan</button>
                    <button type="button" id="btnClose" name="btnClose" class="k-button">Tutup</button>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $("#btnClose").click(ethnic.closeClick);
        $("#btnSave").click(ethnic.saveClick);
    });
</script>